.congratulations-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(137,204,197, 0.5);
  z-index: 999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  animation: animateBackground 10s linear infinite;

  &__content {
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(137,204,197);
    animation: animateBackground 10s linear infinite;
    @media (max-width: 600px) {
      width: 100%;
      margin: 0 20px;
    }

    span {
      display: block;
    }
  }
}

@keyframes animateBackground {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
