.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/bg-image.jpg");
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &_dark {
    background-image: url("../../images/bg-dark-image.jpg");
    background-color: #89ccc5;
  }
  &__name-app {
    padding: 40px;
    border-radius: 10px;
    font-size: 50px;
    line-height: 50px;
    background-color: #89ccc5;
    transition: .4s ease;

    @media (max-width: 600px) {
      font-size: 28px;
      line-height: 28px;
    }

    &_dark {
      background-color: rgba(226, 149, 140, 0.5);
    }
  }
}