.progress-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  margin-top: 90px;

  &__item {
    display: flex;
    flex-direction: column;
    width: 550px;
    box-shadow: 0 1px 12px -4px #bababa;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  &__title {
    width: 100%;
    margin-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__mood-line {
    width: 350px;
    height: 380px;
    margin-left: 15px;
  }
}