.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &__title {
    font-family: "Raleway-Bold", Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #272727;
  }
}