.setting {
  display: inline-block;
  border-radius: 10px;
  width: 400px;
  min-height: 300px;
  box-sizing: border-box;
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #272727;
  background-color: #fff;
  box-shadow: 0 1px 12px -4px #bababa;

  &__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat-Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
    background-color: transparent;
  }
}