.difficulty {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9;

  @media(max-width: 795px) {
    flex-wrap: wrap;
  }
}
.difficulty__title {
  margin-right: 10px;
  font-family: "Raleway-Medium", Arial, sans-serif;

  @media(max-width: 795px) {
    font-size: 18px;
    width: 100%;
  }

  @media(max-width: 600px) {
    margin: 10px 0;
  }
}

.difficulty-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  border: none;

  input[type=radio]
  {
    display: none;
  }

  &__item {
    display: flex;
    align-items: center;
    color: black;
    border: 1px solid #bababa;
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    max-height: 50px;

    @media(max-width: 795px) {
      margin-right: 5px;
    }

    &:last-child {
      margin-right: 0;
    }

    @media(max-width: 600px) {
      flex-direction: column;
      max-height: 100%;
    }

    &_checked {
      box-shadow: rgb(137, 204, 197) 4px 5px 2px;
      &-dark {
        box-shadow: rgb(226,149,140) 4px 5px 2px;
      }
    }
  }
}

.difficulty-list__color {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;

  @media(max-width: 600px) {
    min-height: 35px;
    margin-right: 0;
    margin-bottom: 10px;
  }
}