.mood {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9;
}
.mood__title {
  margin-right: 10px;
  font-family: "Raleway-Medium", Arial, sans-serif;
}

.mood-list {
  display: flex;
  padding-left: 0;
  margin: 0;

  &__item {
    display: flex;
    align-items: center;
    color: black;
    border: 1px solid #bababa;
    padding: 8px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    max-height: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mood-list__color {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}