.setting {
  padding-top: 70px;

  &__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat-Regular", Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
  }
}
