.goal-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 15px;

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "Montserrat-Regular", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
  }

  &__circle {
    width: 50%;
    padding: 15px;
    border-radius: 10px;
    margin-right: 15px;
  }

  &__days {
    padding: 15px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;

    span {
      font-weight: bold;
      font-size: 26px;
      line-height: 26px;
    }
  }
}